<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LearnDrive</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About Us</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
           <form action="" [formGroup]="registerForm">
            <div class="registerbox">
                <label for="email"><b>Email :</b></label>
                <input type="email" placeholder="Enter your email" class="form-control" name="" formControlName="email">
                <div *ngIf="this.registerForm.get('email')?.touched&&this.registerForm.get('email')?.errors" style="color: red;">Invalid email</div>
                <br>
                <label for="uname"><b>Username :</b></label>
                <input type="text" placeholder="Enter your name" class="form-control"   formControlName="username">
                <div *ngIf="this.registerForm.get('username')?.touched&&this.registerForm.get('username')?.errors" style="color: red;">Invalid username</div>

                <br>
                <label for="uname"><b>Password :</b></label>
                <input type="password" name="password" id="" placeholder="Enter your password" class="form-control" formControlName="password">
                <div *ngIf="this.registerForm.get('password')?.touched&&this.registerForm.get('Password')?.errors" style="color: red;">Invalid password</div>

                <br>
                <input (click)="register()" type="submit" class="btn btn-primary" value="Register">
            </div>
          </form>
        </div>
        <div class="col-4"></div>

    </div>
</div>